body {
    margin: 0;
    padding: 0;
    background-color: purple;
    color: white;
    font-size:30px; 
    background：url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F2019-02-14%2F5c65108043791.jpg&refer=http%3A%2F%2Fpic1.win4000.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1611816654&t=316a89c5c93e1c9bade2dce2d6a1751f),no-repeat;
    background-size:cover;
}
